@page "/Downloads"
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
@inject IFilesService FilesService
@inject IJSRuntime JSRuntime

<h3>Downloads</h3>

<Loader Result="@_isValid">
    <table class="table">
        <thead>
        <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>Extension</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var fileInfo in _downloadsFilesInfos)
        {
            <tr>
                <td>@fileInfo.Name</td>
                <td>@fileInfo.Length</td>
                <td>@fileInfo.Extension</td>
                <td>
                    <Link Extension="@fileInfo.Extension" Href="@($"/EmbedFiles?folder=Downloads&filename={fileInfo.Name}")"/>
                </td>
                <td>
                    <a href=@($"/Downloads/{fileInfo.Name}") download=@fileInfo.Name target="_top">
                        <span class="oi oi-data-transfer-download" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                     <span class="oi  oi-delete" aria-hidden="true" style="color:red;" @onclick="() => OnClickDeleteButton(fileInfo)"></span>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <p> From Internal Folder </p>
    
    <table class="table">
            <thead>
            <tr>
                <th>Filename</th>
                <th>Size</th>
                <th>Extension</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var fileInfo in _uploadsFilesInfos)
            {
                <tr>
                    <td>@fileInfo.Name</td>
                    <td>@fileInfo.Length</td>
                    <td>@fileInfo.Extension</td>
                    <td>
                        <Link Extension="@fileInfo.Extension" Href="@($"/EmbedFiles?folder=Uploads&filename={fileInfo.Name}")"/>
                    </td>
                    <td>
                        <a href=@($"/api/DownloadController/Uploads/{fileInfo.Name}") download=@fileInfo.Name target="_top">
                            <span class="oi oi-data-transfer-download" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <span class="oi  oi-delete" aria-hidden="true" style="color:red;" @onclick="() => OnClickDeleteButton(fileInfo)" ></span>
                    </td>
                </tr>
            }
            </tbody>
        </table>
</Loader>

@code {
    private IEnumerable<FileInfo> _downloadsFilesInfos;
    private IEnumerable<FileInfo> _uploadsFilesInfos;
    
    private bool? _isValid;

    protected override void OnInitialized()
    {
        _downloadsFilesInfos = FilesService.GetFilesInfo(@"wwwroot\Downloads"); 
        _uploadsFilesInfos = FilesService.GetFilesInfo(@"Uploads");
        _isValid = true;
    }
    
    private async Task OnClickDownloadButton(FileSystemInfo fileInfo)
    {
        await JSRuntime.InvokeVoidAsync(
            "downloadFromUrl", $"/api/DownloadController/{fileInfo.Name}", $"{fileInfo.Name}");
    }

    private async Task OnClickDeleteButton(FileSystemInfo fileInfo)
    {
        var res = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete the file?");
        if (res == false) return;
        
        File.Delete(fileInfo.FullName);
    }

    

}