@page "/fetchdata"

@using WebAppHowTo.Data
@inject WeatherForecastService ForecastService
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize("Admin")]

<h1>Weather forecast</h1>

<h1>Just Admin group can see this page</h1>

<p>This component demonstrates fetching data from a service.</p>

 <Loader Result="@isValid">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
</Loader>

@code {
    private WeatherForecast[] forecasts;
    private bool? isValid;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(millisecondsDelay: 3000);
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        isValid = true;
    }
}
